/* Css file for Cards */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.photo{
    height:200px;
    width:200px;
}

body{
    margin:0;
    padding:0;
    background:url(./bg3.png);
    background-size: cover;
}

.head-atg{
    font-family: 'Playball';
}